{% extends 'sharing/base.html' %}
{% block title %} Add Item {% endblock %}

{% block body_block %}
	{% if item_added %}
	<strong>The item, {{ item_name }}, added successfully. <br> <br>

	{% else %}
		<br>
		<h1>Add an Item to Share</h1>
		<form id="item_form" method="post" action="/sharing/add_item/"
			enctype="multipart/form-data" >

			{% csrf_token %}
        	{{ item_form.as_p }}

        	<!-- Provide a button to click to submit the form. -->
        	<input type="submit" name="submit" value="Add Item"/>
		</form>
	{% endif %}
{% endblock %}