{% extends 'sharing/base.html' %}
{% block title %} Join Requests {% endblock %}

{% block body_block %}
   
     {% if requests_pending %}
       <h1>Pending join requests for {{ user }}</h1>
        
        <ul>
            {% for req in requests_pending %}
            <li>{{ req.requestor }} 
                <form method="post" action="/sharing/join_requests/process/{{req.id}}/">
                {{ accept_request_form }}
                {% csrf_token %}
                <input type="submit" name="submit" value="Submit"></input> <br><br>
                </form>
            </li>
            {% endfor %}
        </ul>

    {% else %}
        <strong>You have no Pending Join Requests.</strong>
    {% endif %}

    {% if requests_completed %}
       <h1> Completed join requests for {{ user }}</h1>
        
        <ul>
            {% for req in requests_completed %}
            <li>{{ req.requestor }} - 
                {% if req.accept %} Accepted
                {% else %} Rejected
                {% endif %}
                on {{ req.action_date|date }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}




