{% extends 'sharing/base.html' %}
{% block title %} Member Page {% endblock %}

{% block body_block %}
    <h3> Items for {{ user }} </h3>
        {% if items %}
            <ul>
                {% for item in items %}
                <li>{{ item.name }}
               
                <form method="post" action="/sharing/join_requests/process/{{req.id}}/">
                {{ accept_request_form }}
                {% csrf_token %}
                <input type="submit" name="submit" value="Submit"></input> <br><br>
                </form>

                </li>
                {% endfor %}
            </ul>  
        {% else %}
            <strong>You have no items.</strong> <br><br>
        {% endif %}

        {% if moderator %}
        <a href="/sharing/join_requests/"> View Requests to Join Group </a><br>
        {% endif %}

        {% if groups %}
            {% for group in groups %}
            Group: {{ group.name }} <br>
            Moderator: {{ group.moderator }} <br>
            {% endfor %}
{% for group in groups %}
            <h3>{{ group.name }}  Members</h3>
                 {% endfor %}
            <ul>
                {% for member in group_members %}
                <li>{{ member.user.get_full_name }}</li>
                {% endfor %}
            </ul>

            {% for group in groups %}
            <h3>{{ group.name }}  Items</h3>
              {% endfor %}
            <ul>
                {% for item in group_items %}
                <li>{{ item.name }}</li>
                {% endfor %}
            </ul>            

        {% endif %}

{% endblock %}


